#customnavbar {
    width: 75%;
    height: 75px;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2%;
    overflow: hidden;
}
#subDiv1, #subDiv2, #subDiv3, #subDiv4 {
    width: 25%;
    height: 75px;
    box-sizing:border-box;
}
#subDiv1 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 25px;
    padding-top: 8px;
    float: left;
}
#subDiv2 {
    float: left;
    padding-left: 20px;
    padding-top: 5px;
}
#subDiv3 {
    float: left;
}
#subDiv4 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 25px;
    float: left;

}